$color_1: #574d6c;
$color_2: #5764ad;
$color_3: #d0e7fb;
$color_4: #e8f3fd;
$color_5: #ed4d41;
$color_6: #ede73b;

* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
}

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, $color_6, $color_2);
}

.header {
  &__text {
    margin: 1rem;
  }
}

.new-game-form {
  margin: 1rem;

  &__input {
    border-radius: 0.5rem;
  }
}

@mixin button {
  background-image: linear-gradient(to top left, $color_1, $color_6);
  width: 7rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 900;
  color: $color_1;
  font-size: 1.1rem;

  &:hover {
    background-image: linear-gradient(to bottom right, $color_1, $color_6);
  }

  &:active {
    background-image: linear-gradient(to bottom right, $color_6, $color_1);
    color: $color_5;
  }
}

.btn-submit {
  @include button();
  width: 5rem;
  padding: 0.3rem;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-arena {
  position: relative;
  width: 45rem;
  height: 35rem;
  box-shadow: 0rem 0rem 4rem 0.1rem rgb(29, 28, 28);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;

  &__player0 {
    background-color: $color_1;
  }

  &__player1 {
    background-color: $color_6;
  }

  .play-arena__player0.active {
    border: 5px solid black;
    border-radius: 1rem 0 0 1rem;
  }

  .play-arena__player1.active {
    border: 5px solid black;
    border-radius: 0 1rem 1rem 0;
  }

  &__player0,
  &__player1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &__player-name {
      padding-top: 3rem;
      font-size: 1.8rem;
    }

    &__points-earned {
      font-size: 4rem;
      font-weight: 600;
    }
  }
}

.active h2 {
  font-size: 2.8em !important;
}

.current {
  width: 20%;
  height: 4rem;
  border: 0.05rem solid rgb(149, 149, 146);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-image: linear-gradient(to top left, $color_2, $color_6);

  &__label {
    text-align: center;
    font-weight: 900;
  }
}

.projection {
  display: flex;
  gap: 1rem;

  &__score {
    width: 2rem;
  }
}

.control-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  &__placeholder {
    height: 50%;
    display: flex;
    align-items: center;
  }

  &__dice-pic {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    border: 0.1rem solid $color_5;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    &--new-game,
    &--roll,
    &--hold {
      @include button();
    }
  }
}

.hidden {
  display: none;
}

@keyframes rollDice1 {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateX(30px);
  }
  20% {
    transform: translateX(1px);
  }
  35% {
    transform: translateY(1px);
  }
  35% {
    transform: translateX(33px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes rollDice2 {
  0% {
    transform: translateX(-15px);
  }
  10% {
    transform: translateY(-23px);
  }
  20% {
    transform: translateX(23px);
  }
  35% {
    transform: translateX(-20px);
  }
  35% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateY(5px);
  }
}

.move1 {
  animation: rollDice1 0.2s;
}

.move2 {
  animation: rollDice2 0.3s;
}

.winner {
  box-shadow: inset 0px 0px 106px 5px rgb(241, 243, 243);
  text-align: center;
}

.winner h2::after {
  content: " WINNNER!";
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 3rem !important;
}

.footer {
  text-align: end;
  padding: 0.5rem 1rem;
  box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
  color: $color_3;
}
