* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
}

.body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(35%, rgba(202, 175, 224, 0.726)), color-stop(90%, rgba(67, 151, 200, 0.377)));
  background-image: linear-gradient(to top left, rgba(202, 175, 224, 0.726) 35%, rgba(67, 151, 200, 0.377) 90%);
}

.header__text {
  margin: 1rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-arena {
  position: relative;
  width: 45rem;
  height: 35rem;
  -webkit-box-shadow: 0rem 0rem 4rem 0.1rem rgba(75, 74, 74, 0.37);
          box-shadow: 0rem 0rem 4rem 0.1rem rgba(75, 74, 74, 0.37);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.play-arena__player0 {
  background-color: #447ec0;
}

.play-arena__player1 {
  background-color: #92377b;
}

.play-arena__player0, .play-arena__player1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.play-arena__player0__player-name, .play-arena__player1__player-name {
  padding-top: 3rem;
  font-size: 2rem;
}

.play-arena__player0__points-earned, .play-arena__player1__points-earned {
  font-size: 4rem;
  font-weight: 600;
}

.current {
  width: 20%;
  height: 4rem;
  border: 0.05rem solid #959592;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-shadow: 0rem 0rem 4rem 0.9rem rgba(251, 251, 251, 0.5);
          box-shadow: 0rem 0rem 4rem 0.9rem rgba(251, 251, 251, 0.5);
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(6.2%, rgba(202, 175, 224, 0.726)), color-stop(98.8%, rgba(67, 151, 200, 0.377)));
  background-image: linear-gradient(to top left, rgba(202, 175, 224, 0.726) 6.2%, rgba(67, 151, 200, 0.377) 98.8%);
}

.control-panel {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panel__dice-pic {
  margin: 5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  border: 0.1rem solid red;
}

.control-panel__btn--new-game, .control-panel__btn--roll, .control-panel__btn--hold {
  background-color: #e0dbdf;
  width: 7rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
}

.control-panel__btn--new-game:hover, .control-panel__btn--roll:hover, .control-panel__btn--hold:hover {
  background-color: #9e7dc5;
}

.control-panel__btn--new-game:active, .control-panel__btn--roll:active, .control-panel__btn--hold:active {
  background-color: #e048d4;
}

.active {
  -webkit-box-shadow: inset 0px 0px 36px 5px white;
          box-shadow: inset 0px 0px 36px 5px white;
}

.footer {
  text-align: end;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
          box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
}
/*# sourceMappingURL=style.css.map */