* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
}

.body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ede73b), to(#5764ad));
  background-image: linear-gradient(to bottom right, #ede73b, #5764ad);
}

.header__text {
  margin: 1rem;
}

.new-game-form {
  margin: 1rem;
}

.new-game-form__input {
  border-radius: 0.5rem;
}

.btn-submit {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#574d6c), to(#ede73b));
  background-image: linear-gradient(to top left, #574d6c, #ede73b);
  width: 7rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 900;
  color: #574d6c;
  font-size: 1.1rem;
  width: 5rem;
  padding: 0.3rem;
}

.btn-submit:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#574d6c), to(#ede73b));
  background-image: linear-gradient(to bottom right, #574d6c, #ede73b);
}

.btn-submit:active {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ede73b), to(#574d6c));
  background-image: linear-gradient(to bottom right, #ede73b, #574d6c);
  color: #ed4d41;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-arena {
  position: relative;
  width: 45rem;
  height: 35rem;
  -webkit-box-shadow: 0rem 0rem 4rem 0.1rem #1d1c1c;
          box-shadow: 0rem 0rem 4rem 0.1rem #1d1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.play-arena__player0 {
  background-color: #574d6c;
}

.play-arena__player1 {
  background-color: #ede73b;
}

.play-arena .play-arena__player0.active {
  border: 5px solid black;
  border-radius: 1rem 0 0 1rem;
}

.play-arena .play-arena__player1.active {
  border: 5px solid black;
  border-radius: 0 1rem 1rem 0;
}

.play-arena__player0, .play-arena__player1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.play-arena__player0__player-name, .play-arena__player1__player-name {
  padding-top: 3rem;
  font-size: 1.8rem;
}

.play-arena__player0__points-earned, .play-arena__player1__points-earned {
  font-size: 4rem;
  font-weight: 600;
}

.active h2 {
  font-size: 2.8em !important;
}

.current {
  width: 20%;
  height: 4rem;
  border: 0.05rem solid #959592;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#5764ad), to(#ede73b));
  background-image: linear-gradient(to top left, #5764ad, #ede73b);
}

.current__label {
  text-align: center;
  font-weight: 900;
}

.projection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.projection__score {
  width: 2rem;
}

.control-panel {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panel__placeholder {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panel__dice-pic {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  border: 0.1rem solid #ed4d41;
}

.control-panel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
}

.control-panel__btn--new-game, .control-panel__btn--roll, .control-panel__btn--hold {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#574d6c), to(#ede73b));
  background-image: linear-gradient(to top left, #574d6c, #ede73b);
  width: 7rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 900;
  color: #574d6c;
  font-size: 1.1rem;
}

.control-panel__btn--new-game:hover, .control-panel__btn--roll:hover, .control-panel__btn--hold:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#574d6c), to(#ede73b));
  background-image: linear-gradient(to bottom right, #574d6c, #ede73b);
}

.control-panel__btn--new-game:active, .control-panel__btn--roll:active, .control-panel__btn--hold:active {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ede73b), to(#574d6c));
  background-image: linear-gradient(to bottom right, #ede73b, #574d6c);
  color: #ed4d41;
}

.hidden {
  display: none;
}

@-webkit-keyframes rollDice1 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  10% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  20% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  35% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  35% {
    -webkit-transform: translateX(33px);
            transform: translateX(33px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes rollDice1 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  10% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  20% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  35% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  35% {
    -webkit-transform: translateX(33px);
            transform: translateX(33px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes rollDice2 {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  10% {
    -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
  }
  20% {
    -webkit-transform: translateX(23px);
            transform: translateX(23px);
  }
  35% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  35% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes rollDice2 {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  10% {
    -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
  }
  20% {
    -webkit-transform: translateX(23px);
            transform: translateX(23px);
  }
  35% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  35% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.move1 {
  -webkit-animation: rollDice1 0.2s;
          animation: rollDice1 0.2s;
}

.move2 {
  -webkit-animation: rollDice2 0.3s;
          animation: rollDice2 0.3s;
}

.winner {
  -webkit-box-shadow: inset 0px 0px 106px 5px #f1f3f3;
          box-shadow: inset 0px 0px 106px 5px #f1f3f3;
  text-align: center;
}

.winner h2::after {
  content: " WINNNER!";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 3rem !important;
}

.footer {
  text-align: end;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
          box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
  color: #d0e7fb;
}
/*# sourceMappingURL=style.css.map */