$color_1: red;
$color_2: rgb(68, 126, 192);
$color_3: rgb(146, 55, 123);
$color_4: rgb(224, 219, 223);

* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
}

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top left,
    rgba(202, 175, 224, 0.726) 35%,
    rgba(67, 151, 200, 0.377) 90%
  );
}

.header {
  &__text {
    margin: 1rem;
    // animation: 3s ease-in 1s infinite reverse both running slidein;
    animation: move 1s infinite;
  }
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-arena {
  position: relative;
  width: 45rem;
  height: 35rem;
  box-shadow: 0rem 0rem 4rem 0.1rem rgba(75, 74, 74, 0.37);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;

  &__player0 {
    background-color: $color_2;
  }
  &__player1 {
    background-color: $color_3;
  }

  &__player0,
  &__player1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &__player-name {
      padding-top: 3rem;
      font-size: 2rem;
    }

    &__points-earned {
      font-size: 4rem;
      font-weight: 600;
    }
  }
}

.current {
  width: 20%;
  height: 4rem;
  border: 0.05rem solid rgb(149, 149, 146);
  // border: thick double #4748495b;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;

  box-shadow: 0rem 0rem 4rem 0.9rem rgba(251, 251, 251, 0.5);
  background-image: linear-gradient(
    to top left,
    rgba(202, 175, 224, 0.726) 6.2%,
    rgba(67, 151, 200, 0.377) 98.8%
  );
}

.active {
  box-shadow: inset 0px 0px 36px 5px rgba(255, 255, 255, 1);
}

.control-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  &__placeholder {
    height: 50%;
    display: flex;
    align-items: center;
  }

  &__dice-pic {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    border: 0.1rem solid red;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    &--new-game,
    &--roll,
    &--hold {
      background-color: $color_4;
      width: 7rem;
      border: none;
      padding: 0.5rem;
      border-radius: 1rem;

      &:hover {
        background-color: rgb(158, 125, 197);
      }
      &:active {
        background-color: rgb(224, 72, 212);
      }
    }
  }
}

.hidden {
  display: none;
}

@keyframes rollDice1 {
  0% {
    transform: translateY(1px);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateY(1px);
  }
}

@keyframes rollDice2 {
  0% {
    transform: translateY(1px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.move1 {
  animation: rollDice1 0.2s;
}

.move2 {
  animation: rollDice2 0.3s;
}

.footer {
  text-align: end;
  padding: 0.5rem 1rem;
  box-shadow: 0rem 0.5rem 1.2rem 0rem rgba(112, 112, 112, 0.534);
}
